.bg-sweater {
  background-image: url(../imagenes/banner-sw.jpg);
}
.bg-falda {
  background-image: url(../imagenes/banner-fd.jpg);
}
.bg-vest {
  background-image: url(../imagenes/banner-vest.jpg);
}
.bg-cam {
  background-image: url(../imagenes/banner-cam.jpg);
}
.bg-jean {
  background-image: url(../imagenes/banner-jn.jpg);
}
.btn {
  background-color: $green;
  color: white;
  width: 80%;
}
/*map*/
$estilosBanner: (
  background-r: no-repeat,
  background-p: center center,
  background-s: cover,
  width: 100%,
  height: 50vh,
  margin-b: 20px,
  position: flex,
  align-i: flex-end,
);

.banner {
  background-repeat: map-get($estilosBanner, background-r);
  background-position: map-get($estilosBanner, background-p);
  background-size: map-get($estilosBanner, background-s);
  width: map-get($estilosBanner, width);
  height: map-get($estilosBanner, height);
  margin-bottom: map-get($estilosBanner, margin-b);
  display: map-get($estilosBanner, position);
  align-items: map-get($estilosBanner, align-i);
}

.banner h1 {
  font-weight: bolder;
  color: black;
  padding: 20px;
  background: gainsboro;
  opacity: 0.7;
  font-size: 25px;
}
